*{
    padding: 0;
    margin: 0;
}
.bodyPage
{
  display: grid;
  background-color:#a0dff1;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1em;
  grid-template-areas:
  "header1 header1 header1"
  "banner banner banner"
  "Titulo Titulo Titulo"
  "logoAhorros logoCreditos logoServicios"
  "infoAhorros infoCreditos infoServicios"
  "eventos eventos mapa"
  "footer footer footer"
  ;  
}

header
{
  grid-area: header1;
  position: sticky;
  top: 0;
  z-index: 2;
}
.header
{
  display: flex;
  background: rgb(248, 248, 248);
  width: 100%; 
  height: 100px;
}

h1{
  grid-area: Titulo;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2.3vw;
}

/*.headerFixed
{
    position: fixed;
}*/
.contenedorLogo
{
    width: 30%;
    display: flex;
}
.logo
{
  background: transparent;
  width: 90%;
  height: 90%;
  margin: auto;
}
.menuOpciones a{
    color: #020d12;
}
.menuOpciones
{
  background: transparent;
  width: 70%;
  align-items: center;
}

.contenedorBanner
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 80%;
}

.bannerPagina
{
  width: 100%;
  height: 100%;
}
.banner
{
  grid-area: banner;
}
/*main
{
  grid-area: opcPrincipal;
}*/
.logoAhorros
{
  grid-area: logoAhorros;
}
.logoCreditos
{
  grid-area: logoCreditos;
}
.logoServicios
{
  grid-area: logoServicios;
}
.infoAhorros
{
  grid-area: infoAhorros;
}
.infoCreditos
{
  grid-area: infoCreditos;
}
.infoServicios
{
  grid-area: infoServicios;
}
.opcionesPrincipales
{
  grid-area: opcPrincipal;
}
.contenedorOpciones
{
  display: flex;
  align-items: center;
  width: 100%; 
  height: 10%;
}
.opciones
{
  width: 60%;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
}
.opciones>p
{
  width: 100%;
  height: 100%;
  font-size: 1.1vw;
  text-align: center;
}
.eventos
{
  grid-area: eventos;
}
.mapa
{
  grid-area: mapa;
}
h2
{
  display: flex;
  align-items: center;
  width: 100%;
  height: 8%;
  margin: auto;
  font-size: 2vw;
}
.contenedor
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 90%;
}
footer
{
  grid-area: footer;
}
.piedePagina
{
  width: 100%;
  background-color: rgb(51, 157, 243) ;
}

.imagenAhCr
{
  width:60%;
  height: 60%;
}

.imagenAhorrosCreditos
{
  width: 90%;
  display: flex;
  margin: auto;
}

.formularioContacto
{
  width: 50%;
  text-align: center;
  margin: auto;
}

/*MEDIA QUERY DE MOBILE FIRST*/
@media(max-width:480px)
{
  .bodyPage
  {
    display: grid;
    grid-template-areas: 
    "header header header"
    "banner banner banner"
    "Titulo Titulo Titulo"
    "logoAhorros logoAhorros logoAhorros"
    "infoAhorros infoAhorros infoAhorros"
    "logoCreditos logoCreditos logoCreditos"
    "infoCreditos infoCreditos infoCreditos"
    "logoServicios logoServicios logoServicios"
    "infoServicios infoServicios infoServicios"
    "eventos eventos eventos"
    "mapa mapa mapa"
    "footer footer footer"
  ;
  }
}

.pruebaGit
{
  display: flex;
  width: 300px;
  height: 300px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  border: 10px;
  align-items: center;
  margin: auto;
}



/* Navbar container */
.navbarra {
  overflow: hidden;
  background-color: transparent;
  font-family: Arial;
  margin-top: 25px;
  margin-bottom: 25px;
  }
  
  /* Links inside the navbar */
  .navbarra a {
    float: left;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 14px 18px;
    text-decoration: none;
  }
  .navbar a {
    float: left;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 14px 18px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .menudropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .menudropdown .menudropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 18px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
    cursor: pointer;
  }
  
  /* Add a red background color to navbar links on hover */
  .navbarra a:hover, .menudropdown:hover .menudropbtn {
    background-color: rgb(83, 172, 231);
  }
  
  /* Dropdown content (hidden by default) */
  .menudropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .menudropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .menudropdown-content li:hover {
    background-color:rgb(83, 172, 231);
  }
  
  /* Show the dropdown menu on hover */
  .menudropdown:hover .menudropdown-content {
    display: block;
  }