footer {
    background-color: #474646; }

    .fuente {
        p, a {
          font-size: $texto-footer;
        }
      
        h5 {
          font-size: $texto-footer;
          color: white;
        }
      }
  