/* Navbar container */
  
header {
  grid-area: header1;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header {
  display: flex;
  background: rgb(248, 248, 248);
  width: 100%;
  height: 100px;
}

.navbarra {
    overflow: hidden;
    background-color: transparent;
    font-family: $tipografia-general;
    margin-top: 25px;
    margin-bottom: 25px;
  
    a {
      float: left;
      font-size: 20px;
      color: $color-black;
      text-align: left;
      padding: 14px 18px; 
      text-decoration: none;
    }
  }
  
  /* Links inside the navbar */
  
  .navbar a {
    float: left;
    font-size: 20px;
    color: $color-black;
    text-align: left;
    padding: 14px 18px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  
  .menudropdown {
    float: left;
    overflow: hidden;
  
    .menudropbtn {
      font-size: 20px;
      border: none;
      outline: none;
      color: $color-black;
      padding: 14px 18px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      cursor: pointer;
    }
  }
  
  /* Dropdown button */
  
  /* Add a red background color to navbar links on hover */
  
  .navbarra a:hover, .menudropdown:hover .menudropbtn {
    background-color: rgb(83, 172, 231);
  }
  
  /* Dropdown content (hidden by default) */
  
  .menudropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  
    a {
      float: none;
      color: $color-black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  
      &:hover {
        background-color: rgb(83, 172, 231);
      }
    }
  }
  
  /* Links inside the dropdown */
  /* Add a grey background color to dropdown links on hover */
  /* Show the dropdown menu on hover */
  
  .menudropdown:hover .menudropdown-content {
    display: block;
  }